{% extends 'base.html' %}


{% block content %}


<h2 class="text-center mt-3 pb-3">Add Custom Notification</h2>

<div>
    {% for message in messages %}
    <h4 class="text-danger">{{message}}</h4>
    {% endfor %}
</div>

<div class="add-doc card-wrapper mt-5">
    <form class="col-5" action="/addNotification" method="post" >

        {% csrf_token %}

        <div class="mb-3 d-none">
            <label for="doc_id" class="form-label">Document id</label>
            <input type="text" class="form-control" id="doc_id" name="doc_id" value="{{doc_id}}" required>
        </div>

        <div class="mb-3">
            <label for="notifydate" class="form-label">Choose a date to add Notification</label>
            <input type="date" class="form-control" id="notifydate" name="notifydate" required>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


{% endblock content %}