{% extends 'businessBase.html' %}


{% block content %}


<h2 class="text-center mt-3 pb-3">Create Email Notification Advertisement</h2>

<div>
    {% for message in messages %}
    <h4 class="text-danger">{{message}}</h4>
    {% endfor %}
</div>



<div class="add-doc card-wrapper mt-5">
    <form class="col-5" action="addNad" method="post">

        {% csrf_token %}
        <div class="mb-3">
            <label for="ad_name" class="form-label">Advertisement Name</label>
            <input type="text" class="form-control" id="ad_name" name="ad_name" placeholder="This differentiates your ads uniquely" required>
        </div>


        <div class="mb-3">
            <label for="ad_title" class="form-label">Advertisement Title</label>
            <input type="text" class="form-control" id="ad_title" name="ad_title" placeholder="Title shown to users" required>
        </div>


        <div class="mb-3">
            <label for="ad_content" class="form-label">Advertisement Content</label>
            <input type="text" class="form-control" id="aad_content" name="ad_content" placeholder="Describe your ad" required>
        </div>


        <div class="mb-3">
            <label for="ad_link" class="form-label">Advertisement Link</label>
            <input type="url" class="form-control" id="ad_link" name="ad_link" placeholder="For redirecting to your ad" required>
        </div>



        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


{% endblock content %}