{% extends 'businessBase.html' %}


{% block content %}


<div class="container">


    <div class="row" style="height: 40vh;">

        <div class="col-5 card text-white bg-dark m-5 card-wrapper">

            <div>
                <h1 class="card-title"><a href="viewNad" style="color: aliceblue;">View Notify Ad</a> </h1>
            </div>
        </div>

        <div class="col-5 card text-white bg-dark m-5 card-wrapper">

            <div>
                <h1 class="card-title"><a href="addNad" style="color: aliceblue;">Add Notify Ad</a> </h1>
            </div>
        </div>

    </div>


    <div class="row" style="height: 40vh;">

        <div class="col-5 card text-white bg-dark m-5 card-wrapper">

            <div>
                <h1 class="card-title"><a href="viewIad" style="color: aliceblue;">View In-App Ad</a> </h1>
            </div>
        </div>

        <div class="col-5 card text-white bg-dark m-5 card-wrapper">

            <div>
                <h1 class="card-title"><a href="addIad" style="color: aliceblue;">Add In-App Ad</a> </h1>
            </div>
        </div>

    </div>

</div>


{% endblock content %}