{% extends 'businessBase.html' %}


{% block content %}


<div class="main-block m-5 " style="height: 30vh;">


    <div class="col-2 card text-white bg-dark m-5 card-wrapper">

        <div>
            <h1 class="card-title"><a href="#" style="color: aliceblue;">Purchases</a> </h1>
        </div>
    </div>

    <div class="col-2 card text-white bg-dark m-5 card-wrapper ">

        <div>
            <h1 class="card-title"><a href="#" style="color: aliceblue;">In-app ads</h1>
        </div>
    </div>


    <div class="col-2 card text-white bg-dark m-5 card-wrapper">

        <div>
            <h1 class="card-title"><a href="#" style="color: aliceblue;">Notify ads</a> </h1>
        </div>
    </div>

    <div class="col-2 card text-white bg-dark m-5 card-wrapper">

        <div>
            <h1 class="card-title"><a href="#" style="color: aliceblue;">Reports</a> </h1>
        </div>
    </div>

   

</div>

<div class="card p-3 col-7 mx-auto">
    <p> <b style="color: red;"> Total ads purchased : </b> xxx </p>
    <p> <b style="color: red;"> Total Money Spend : </b> xxx </p>
    <p> <b style="color: red;"> Last Month Purchase : </b> xxx </p>
    <p> <b style="color: red;"> Last Month Spends : </b> xxx </p>
    <p> <b style="color: red;"> MarketPlace Openings : </b> {{args.openCount}} </p>
    <p> <b style="color: red;"> Active ads : </b> xxx </p>
    <p> <b style="color: red;"> Notify ads : </b> xxx </p>
    <p> <b style="color: red;"> In-app ads : </b> xxx </p>
</div>
   

{% endblock content %}