{% extends 'empBase.html' %}

{% block content %}


<h2 class="text-center mt-3 pb-3">Business Related Details</h2>

<div>
    {% for message in messages %}
    <h4 class="text-danger">{{message}}</h4>
    {% endfor %}
</div>


<div class="add-doc card-wrapper mt-5">
    
   
    <form class="col-5" action="businessInfo" method="post" >

        {% csrf_token %}


        <div class="mb-3">
            <label for="email" class="form-label">Enter Linked Email id to fetch details</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


{% endblock content %}