{% extends 'businessBase.html' %}


{% block content %}


<div class="main-block m-5 mx-auto" style="height: 30vh;">


    <div class="col-2 card text-white bg-dark m-5 card-wrapper">

        <div>
            <h1 class="card-title"><a href="/purchases" style="color: aliceblue;">Purchases</a> </h1>
        </div>
    </div>

    <div class="col-2 card text-white bg-dark m-5 card-wrapper ">

        <div>
            <h1 class="card-title"><a href="/viewIad" style="color: aliceblue;">In-app ads</h1>
        </div>
    </div>


    <div class="col-2 card text-white bg-dark m-5 card-wrapper">

        <div>
            <h1 class="card-title"><a href="/viewNad" style="color: aliceblue;">Notify ads</a> </h1>
        </div>
    </div>

    <div class="col-2 card text-white bg-dark m-5 card-wrapper">

        <div>
            <h1 class="card-title"><a href="/businessReport" style="color: aliceblue;">Reports</a> </h1>
        </div>
    </div>

   

</div>

<div class="card p-3 col-6 mx-auto">
    <p> <b style="color: red;"> Total ads purchased : </b> {{args.total_purchase}} </p>
    <p> <b style="color: red;"> Total Money Spend : </b> {{args.total_spend}} </p>
    <p> <b style="color: red;"> Current Wallet Balance : </b> {{args.balance}} </p>
    <p> <b style="color: red;"> MarketPlace Openings : </b> {{args.openCount}} </p>
    <p> <b style="color: red;"> Active ads : </b> {{args.total_ads}} </p>
    <p> <b style="color: red;"> Notify ads : </b> {{args.Nad_count}} </p>
    <p> <b style="color: red;"> In-app ads : </b> {{args.Iad_count}} </p>
</div>
   

{% endblock content %}