{% extends 'businessBase.html' %}


{% block content %}


<section>

    <h2 class="text-center mt-3 pb-3">Business User Manual</h2>
    <div class="container">

        <div>
            <h1 class="article_title">How to use DocuSafe for Business: your quick start guide</h1>
            <div class="article_body">
                <p>Welcome to Slack – a messaging app for business. Slack transforms the way that organisations
                    communicate by bringing people together to work as one unified team.</p>
                
                <a class="zd_anchor" id="sidebar" name="sidebar" prettyslug="sidebar"></a>
                <h1 class="anchor">
                    <br>Sidebar
                </h1>
                <p>From the sidebar, you can access your conversations in Slack. You'll see a list of channels that
                    you've joined and your direct messages, notifications for specific conversations and the option to
                    compose new messages.&nbsp;</p>
                <div class="tabs enclosed">
                    <div role="tablist" class="tablist" aria-label="Compose, Channels, Notifications, Direct messages">
                        <button class="option active" title="Compose" scope="col" id="compose-btn-1" role="tab"
                            aria-selected="true" aria-controls="compose-tab-1" data-anchor="#compose-1"
                            data-audience="compose">Compose</button><button class="option" title="Channels" scope="col"
                            id="channels-btn-1" role="tab" aria-selected="false" aria-controls="channels-tab-1"
                            data-anchor="#channels-1" data-audience="channels">Channels</button><button class="option"
                            title="Notifications" scope="col" id="notifications-btn-1" role="tab" aria-selected="false"
                            aria-controls="notifications-tab-1" data-anchor="#notifications-1"
                            data-audience="notifications">Notifications</button><button class="option"
                            title="Direct messages" scope="col" id="direct-messages-btn-1" role="tab"
                            aria-selected="false" aria-controls="direct-messages-tab-1" data-anchor="#direct-messages-1"
                            data-audience="direct-messages">Direct messages</button></div>




                    <section title="Compose" scope="row" class="first_content active" id="compose-tab-1"
                        aria-labelledby="compose-btn-1">
                        <p>You can use the <a href="https://slack.com/help/articles/201457107-Send-and-read-messages"
                                target="_self">compose button</a> to write and send a message to any conversation.
                            Messages automatically save as drafts in the <strong>Drafts</strong> section of your sidebar
                            until you’re ready to send them.</p>
                    </section>
                    <section title="Channels" scope="row" id="channels-tab-1" aria-labelledby="channels-btn-1">
                        <p>In Slack, work comes together in dedicated spaces called <a
                                href="https://slack.com/help/articles/360017938993-What-is-a-channel"
                                target="_self">channels</a>. Channels bring the right people and information together
                            for any project, topic or team. Unlike email, discussions in channels are focused around
                            specific topics, so you can <a
                                href="https://slack.com/help/articles/205239967-Join-a-channel" target="_self">join</a>
                            and <a href="https://slack.com/help/articles/201375146-Leave-a-channel" target="_self"
                                rel="undefined">leave</a> them as needed.</p>
                    </section>
                    <section title="Notifications" scope="row" id="notifications-tab-1"
                        aria-labelledby="notifications-btn-1">
                        <p><a href="https://slack.com/help/articles/360025446073-Guide-to-Slack-notifications"
                                target="_self">Notifications</a> in Slack are different from email or other tools that
                            you may be used to – they’re designed to make it clear where you’re needed by showing you a
                            badge if a teammate <a
                                href="https://slack.com/help/articles/205240127-Use-mentions-in-Slack#view-your-mentions"
                                target="_self">mentions</a> you. When there's new activity, conversation names appear
                            bold in the sidebar.</p>
                    </section>
                    <section title="Direct messages" scope="row" id="direct-messages-tab-1"
                        aria-labelledby="direct-messages-btn-1">
                        <p><a href="https://slack.com/help/articles/212281468-Understand-direct-messages"
                                target="_self">Direct messages</a> (DMs) allow for focused, one-off conversations that
                            don't require an entire channel to weigh in. Use DMs for ad-hoc messages or tasks, such as
                            asking your manager a question or coordinating a call with a teammate.</p>
                    </section>
                </div>
                <a class="zd_anchor" id="channels" name="channels" prettyslug="channels"></a>
                <h1 class="anchor">
                    <br>Channels
                </h1>
                <p><a href="https://slack.com/help/articles/360017938993-What-is-a-channel" target="_self">Channels</a>
                    are fundamental to working in Slack – they bring the right people and information together in one
                    place, and make it possible to organise work around a common purpose.</p>
                <div class="tabs enclosed">
                    <div role="tablist" class="tablist"
                        aria-label="Channel information, Messages and files, Emoji reactions"><button
                            class="option active" title="Channel information" scope="col" id="channel-information-btn-2"
                            role="tab" aria-selected="true" aria-controls="channel-information-tab-2"
                            data-anchor="#channel-information-2" data-audience="channel-information">Channel
                            information</button><button class="option" title="Messages and files" scope="col"
                            id="messages-and-files-btn-2" role="tab" aria-selected="false"
                            aria-controls="messages-and-files-tab-2" data-anchor="#messages-and-files-2"
                            data-audience="messages-and-files">Messages and files</button><button class="option"
                            title="Emoji reactions" scope="col" id="emoji-reactions-btn-2" role="tab"
                            aria-selected="false" aria-controls="emoji-reactions-tab-2" data-anchor="#emoji-reactions-2"
                            data-audience="emoji-reactions">Emoji reactions</button></div>



                    <section title="Channel information" scope="row" class="first_content active"
                        id="channel-information-tab-2" aria-labelledby="channel-information-btn-2">
                        <p>From the channel header, you can access details about the channel that you're in. Click on
                            the channel name to see details such as the <a
                                href="https://slack.com/help/articles/201654083-Set-a-channel-topic-or-description"
                                target="_self">channel topic and description</a>, plus any <a
                                href="https://slack.com/help/articles/201330736-Add-files-to-Slack" target="_self">added
                                files</a>. Use the other tabs to see who's in the channel and view other conversation
                            settings.</p>
                    </section>
                    <section title="Messages and files" scope="row" id="messages-and-files-tab-2"
                        aria-labelledby="messages-and-files-btn-2">
                        <p>Channels provide a dedicated space to <a
                                href="https://slack.com/help/articles/201457107-Send-and-read-messages"
                                target="_self">write messages</a> and <a
                                href="https://slack.com/help/articles/201330736-Add-files-to-Slack" target="_self">add
                                files</a>. With everything related to a particular topic, project or team in channels,
                            you can scroll up to see the conversation history any time you open or join one.</p>
                    </section>
                    <section title="Emoji reactions" scope="row" id="emoji-reactions-tab-2"
                        aria-labelledby="emoji-reactions-btn-2">
                        <p><a href="https://slack.com/help/articles/202931348-Use-emoji-and-reactions" target="_self"
                                rel="undefined">Emoji reactions</a> are a quick way to respond to any message in Slack.
                            They're both fun and helpful for getting work done – a simple reaction can often replace the
                            need for a follow-up message.</p>
                    </section>
                </div>
                <a class="zd_anchor" id="message-field" name="message-field" prettyslug="message-field"></a>
                <h1 class="anchor">
                    <br>Message field
                </h1>
                <p>When working in Slack, you have a variety of messaging options available from the message field to
                    help you communicate and connect with your team.&nbsp;</p>
                <div class="tabs enclosed">
                    <div role="tablist" class="tablist" aria-label="Files, Mentions, Formatting, More actions"><button
                            class="option active" title="Files" scope="col" id="files-btn-3" role="tab"
                            aria-selected="true" aria-controls="files-tab-3" data-anchor="#files-3"
                            data-audience="files">Files</button><button class="option" title="Mentions" scope="col"
                            id="mentions-btn-3" role="tab" aria-selected="false" aria-controls="mentions-tab-3"
                            data-anchor="#mentions-3" data-audience="mentions">Mentions</button><button class="option"
                            title="Formatting" scope="col" id="formatting-btn-3" role="tab" aria-selected="false"
                            aria-controls="formatting-tab-3" data-anchor="#formatting-3"
                            data-audience="formatting">Formatting</button><button class="option" title="More actions"
                            scope="col" id="more-actions-btn-3" role="tab" aria-selected="false"
                            aria-controls="more-actions-tab-3" data-anchor="#more-actions-3"
                            data-audience="more-actions">More actions</button></div>




                    <section title="Files" scope="row" class="first_content active" id="files-tab-3"
                        aria-labelledby="files-btn-3">
                        <p><a href="https://slack.com/help/articles/201330736-Add-files-to-Slack" target="_self">Add
                                files</a> to your messages to share important information alongside your team's
                            discussions.</p>
                    </section>
                    <section title="Mentions" scope="row" id="mentions-tab-3" aria-labelledby="mentions-btn-3">
                        <p>Use <a href="https://slack.com/help/articles/205240127-Use-mentions-in-Slack"
                                target="_self">mentions</a> to get the attention of specific people in a conversation,
                            whether you need to ask for feedback or follow up on action items.</p>
                    </section>
                    <section title="Formatting" scope="row" id="formatting-tab-3" aria-labelledby="formatting-btn-3">
                        <p><a href="https://slack.com/help/articles/202288908-Format-your-messages"
                                target="_self">Format your messages</a> to add a little clarity or pizzazz – bold the
                            most important items, break out thoughts with bullet points and more.</p>
                    </section>
                    <section title="More actions" scope="row" id="more-actions-tab-3"
                        aria-labelledby="more-actions-btn-3">
                        <p>From the More actions menu, you can <a
                                href="https://slack.com/help/articles/202395258-Edit-or-delete-messages"
                                target="_self">correct typos or mistakes</a> after you send a message. You can also <a
                                href="https://slack.com/help/articles/202395258-Edit-or-delete-messages"
                                target="_self">delete a message</a> that you’ve already sent if you need to start over.
                        </p>
                    </section>
                </div>
                <a class="zd_anchor" id="navigation-bar" name="navigation-bar" prettyslug="navigation-bar"></a>
                <h1 class="anchor">
                    <br>Navigation bar
                </h1>
                <p>Use the navigation icons to go back and forth in your history (just like you would in a web browser)
                    or view recent conversations, search for information or get help with Slack.&nbsp;</p>
                <div class="tabs enclosed">
                    <div role="tablist" class="tablist" aria-label="History, Search, Help"><button class="option active"
                            title="History" scope="col" id="history-btn-4" role="tab" aria-selected="true"
                            aria-controls="history-tab-4" data-anchor="#history-4"
                            data-audience="history">History</button><button class="option" title="Search" scope="col"
                            id="search-btn-4" role="tab" aria-selected="false" aria-controls="search-tab-4"
                            data-anchor="#search-4" data-audience="search">Search</button><button class="option"
                            title="Help" scope="col" id="help-btn-4" role="tab" aria-selected="false"
                            aria-controls="help-tab-4" data-anchor="#help-4" data-audience="help">Help</button></div>



                    <section title="History" scope="row" class="first_content active" id="history-tab-4"
                        aria-labelledby="history-btn-4">The history icons provide quick access to recently viewed items.
                        Use the left and right arrows to go backwards and forwards in your history, or click on the
                        <strong><em class="ts_icon ts_icon_history">&nbsp;</em>clock</strong> icon for a list of your
                        recent channels, DMs, search results, threads and more.</section>
                    <section title="Search" scope="row" id="search-tab-4" aria-labelledby="search-btn-4"><a
                            href="https://slack.com/help/articles/202528808-Search-in-Slack" target="_self">Search your
                            team’s conversation history</a> in Slack to find the relevant messages, files, channels and
                        people that you need to get work done.</section>
                    <section title="Help" scope="row" id="help-tab-4" aria-labelledby="help-btn-4">Click on the
                        <strong><em class="ts_icon ts_icon_question_circle">&nbsp;</em>question mark</strong> icon to
                        the right of the search bar to access help and learning resources, or <a
                            href="https://slack.com/help" target="_self">visit our Help Centre</a> from your browser.
                    </section>
                </div>
                <p class="tip"><strong>Tip:</strong> Press <kbd>Cmd</kbd> <kbd>K</kbd> (Mac) or <kbd>Ctrl</kbd>
                    <kbd>K</kbd> (Windows/Linux) and type the name of any channel or person to quickly jump to a
                    conversation.</p>
                <p class="note"><strong>Learn more:</strong> For an in-depth look at using Slack, <a
                        href="https://www.slackcertified.com/page/slack-skills" target="_blank" rel="noopener">take our
                        courses</a> and test your knowledge to earn Slack Skills badges.</p>
            </div>
        </div>

    </div>

</section>


{% endblock content %}