{% extends 'empBase.html' %}


{% block content %}


<div class="main-block m-5">


    <div class="col-2 card text-white bg-dark m-5 card-wrapper h-25">

        <div>
            <h1 class="card-title"><a href="/addBusiness" style="color: aliceblue;">Add Business</a> </h1>
        </div>
    </div>

    <div class="col-2 card text-white bg-dark m-5 card-wrapper h-25">

        <div>
            <h1 class="card-title"><a href="#" style="color: aliceblue;">Business info</h1>
        </div>
    </div>


    <div class="col-2 card text-white bg-dark m-5 card-wrapper h-25">

        <div>
            <h1 class="card-title"><a href="#" style="color: aliceblue;">Manage users</a> </h1>
        </div>
    </div>

    <div class="col-2 card text-white bg-dark m-5 card-wrapper h-25">

        <div>
            <h1 class="card-title"><a href="#" style="color: aliceblue;">Show Reports</a> </h1>
        </div>
    </div>

</div>
    
{% endblock content %}