{% extends 'businessBase.html' %}


{% block content %}


<div class="container">

    <div class="row" style="height: 40vh;">

        <div class="col-3 card text-white bg-dark m-5 card-wrapper">

            <div>
                <h1 class="card-title"><a href="/iCategoryslots" style="color: aliceblue;">In-App Slots <br> (Category)</a> </h1>
            </div>
        </div>

        <div class="col-3 card text-white bg-dark m-5 card-wrapper">

            <div>
                <h1 class="card-title"><a href="/iSCategoryslots" style="color: aliceblue;">InApp Slots <br> (Sub-Category)</a> </h1>
            </div>
        </div>

        <div class="col-3 card text-white bg-dark m-5 card-wrapper">

            <div>
                <h1 class="card-title"><a href="/iDCategoryslots" style="color: aliceblue;">InApp Slots <br> (Doc - Type)</a> </h1>
            </div>
        </div>

    </div>

    <div class="row" style="height: 40vh;">

        <div class="col-3 card text-white bg-dark m-5 card-wrapper">

            <div>
                <h1 class="card-title"><a href="/nCategoryslots" style="color: aliceblue;">Notify Slots <br> (Category)</a> </h1>
            </div>
        </div>

        <div class="col-3 card text-white bg-dark m-5 card-wrapper">

            <div>
                <h1 class="card-title"><a href="#" style="color: aliceblue;">Notify Slots <br> (Sub-Category)</a> </h1>
            </div>
        </div>

        <div class="col-3 card text-white bg-dark m-5 card-wrapper">

            <div>
                <h1 class="card-title"><a href="#" style="color: aliceblue;">Notify Slots <br> (Doc - Type)</a> </h1>
            </div>
        </div>

    </div>





</div>


{% endblock content %}